/* style for rankmath breadcrumbs */
.rank-math-breadcrumb {
    margin-bottom: 2rem;
    font-size: 16px;
}

.rank-math-breadcrumb a {
    color: var(--e-global-color-primary);
    text-decoration: none;
}

.rank-math-breadcrumb a:hover {
    color: var(--e-global-color-primary);
}

.rank-math-breadcrumb .separator {
    margin: 0 8px;
    color: var(--e-global-color-primary);
}
.rank-math-breadcrumb .last {
    margin: 0 8px;
    color: var(--e-global-color-1fc6654);
}

/* Child theme styles */

body main#inner-wrap {
    background: black !important;
}

/* Primary Button Style */
.primary-btn {
    padding: 14px 30px;
    background-color: var(--e-global-color-primary);
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 9999px;
    transition: all 0.2s ease;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    display:flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.primary-btn:hover {
    background-color: color-mix(in srgb, var(--e-global-color-primary) 90%, black);
    color: #fff;
}
/* write a style for whatsapp button it whould be whatsapp */
.whatsapp-btn {
    padding: 14px 30px;
    background-color: #25D366;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 9999px;
    transition: all 0.2s ease;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    display:flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.whatsapp-btn:hover {
    background-color: color-mix(in srgb, #25D366 90%, black);
    color: #fff;
}
/* Custom Anchor button */
.link_button {
    text-decoration: none;
    color: var(--e-global-color-f6996da);
    font-family: "Montserrat", sans-serif !important;
    cursor: pointer;
    transition: all 0.4s;
}
.link_button:hover {
    color: var(--e-global-color-primary);
}

/* Elementor filterable gallery custom style */
.gallery-item-caption-wrap .gallery-item-hoverer-bg {
    background-image: linear-gradient(to top, var(--e-global-color-secondary) 30%, transparent) !important;
    opacity: 0.8 !important;
}
.eael-cf-fardin .eael-gallery-grid-item .gallery-item-thumbnail-wrap {
    width: 100%;
    height: 370px !important;
    overflow: hidden;
    object-fit: fill !important;
}
.eael-cf-fardin .eael-gallery-grid-item .gallery-item-thumbnail-wrap>img {
    height: 100%;
    width: 100%;
    object-fit: fill !important;
}
.gallery-item-caption-wrap.caption-style-hoverer{
    align-items: end !important;
}

/* Fluent Form style */
.ff-form-loaded label {
   color: var(--e-global-color-primary);
}
.fluentform .ff-el-input--label.ff-el-is-required.asterisk-right label:after{
    color: var(--e-global-color-primary);
}
.ff-form-loaded input:focus {
    border: 2px solid var(--e-global-color-primary) !important;
}
.ff-form-loaded textarea:focus {
    border: 2px solid var(--e-global-color-primary) !important;
}

/* developer name color */
.gradient-text {
  background-image: linear-gradient(to right, #ec4899, #eab308);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Svg color chage  */
.elementor-651 .elementor-element.elementor-element-1ac5bcc .elementor-icon-list-icon svg path {
    fill: var(--e-global-color-primary) !important;
}