/* Child theme styles */

body {
    background: none !important;
}

/* Primary Button Style */
.primary-btn {
    padding: 1rem 2rem;
    background-color: var(--e-global-color-primary);
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 9999px;
    transition: all 0.2s ease;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.primary-btn:hover {
    background-color: color-mix(in srgb, var(--e-global-color-primary) 90%, black);
}
/* Custom Anchor button */
.link_button {
    text-decoration: none;
    color: var(--e-global-color-text);
    font-family: "Montserrat", sans-serif !important;
    cursor: pointer;
    transition: all 0.4s;
}
.link_button:hover {
    color: var(--e-global-color-primary);
}

/* Elementor filterable gallery custom style */
.gallery-item-caption-wrap .gallery-item-hoverer-bg {
    background-image: linear-gradient(to top, var(--e-global-color-secondary) 30%, transparent) !important;
    opacity: 0.8 !important;
}
.eael-cf-fardin .eael-gallery-grid-item .gallery-item-thumbnail-wrap {
    width: 100%;
    height: 370px !important;
    overflow: hidden;
    object-fit: fill !important;
}
.eael-cf-fardin .eael-gallery-grid-item .gallery-item-thumbnail-wrap>img {
    height: 100%;
    width: 100%;
    object-fit: fill !important;
}
.gallery-item-caption-wrap.caption-style-hoverer{
    align-items: end !important;
}

/* Fluent Form style */
.ff-form-loaded input:focus {
    border: 2px solid var(--e-global-color-primary) !important;
}
.ff-form-loaded textarea:focus {
    border: 2px solid var(--e-global-color-primary) !important;
}